:root {
    --text-color: #333;
    --white-color: #fff;
    --black-color: #000;
    --primary-color: #519d10;
    --height-header: 80px;
}

a {
    text-decoration: none;
    color: #333;
}

ul {
    list-style: none;
}